REVALIDATE_SECRET=xxxxxxxxxxxxx
STORE_ENV=xxxxxxxxxxxxx
TTM_CLIENT_URL=xxxxxxxxxxxxx
TTM_CLIENT_API_KEY=xxxxxxxxxxxxx
TTM_CLIENT_THRESHOLD=xxxxxxxxxxxxx

NEXT_PUBLIC_SITE_URL=xxxxxxxxxxxxx
NEXT_PUBLIC_STORE_PREFIX=xxxxxxxxxxxxx
NEXT_PUBLIC_STORE_ID=xxxxxxxxxxxxx
NEXT_PUBLIC_RAZORPAY_KEY=xxxxxxxxxxxxx
NEXT_PUBLIC_GTM_ID=xxxxxxxxxxxxx
NEXT_PUBLIC_MEDIA_URL=xxxxxxxxxxxxx
NEXT_PUBLIC_CUSTOMER_GLU_KEY=xxxxxxxxxxxxx
NEXT_PUBLIC_GOOGLE_VERIFICATION_TAG=xxxxxxxxxxxxx
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=xxxxxxxxxxxxx
