REVALIDATE_SECRET=secret
STORE_ENV=development
NEXT_PUBLIC_STORE_PREFIX=wowhealth
NEXT_PUBLIC_STORE_ID=e7e304f9-519b-498e-ac40-2ffc5c853a7a
NEXT_PUBLIC_RAZORPAY_KEY=rzp_test_HwA2pPPMCGujf6
NEXT_PUBLIC_GTM_ID=GTM-MRKNQ6L
NEXT_PUBLIC_MEDIA_URL=d3pvtru6vse1kf.cloudfront.net
NEXT_PUBLIC_HOTJAR_ID=xxxxx
NEXT_PUBLIC_HOTJAR_SNIPPET_VERSION=xxxxx
NEXT_PUBLIC_OPTIMONK_ID=xxxxx
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBJ3-XfCxi_9MD-hCLqYy8wbuVNwzKz7nA