.announcement-bar{
    background-color: $dark-color;
    .announcement {
        padding: 1.2rem;
        min-height: 75px;
        .announcement-text {
            letter-spacing: 2.5px;
            font-weight: 400;
            color: $white_color;
            text-align: center;
        }
    }
    
}